# Import Libraries

In [1]:
import pandas as pd
import sweetviz as sv

## Get the data

In [2]:
##added datecolumns to ensure datecolumns are datetime datatypes

datecolumns = ['LicenceDate', 'ConfidentialReleaseDate','AbandonDate', 'SurfAbandonDate', 'SpudDate', 'FinalDrillDate', 'RigReleaseDate','StatusDate','CompletionDate']   
well_header = pd.read_csv('WellHeader_subset.csv',parse_dates=datecolumns,)
well_production = pd.read_csv('WellProduction_subset.csv', parse_dates=['ProdPeriod'])
perf_treatment = pd.read_csv('PerfTreatment_subset.csv', parse_dates=['ActivityDate'])

In [3]:
well_header=well_header.iloc[:,1:87]
well_header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1147 entries, 0 to 1146
Data columns (total 86 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EPAssetsId                 1147 non-null   int64
 1   Province                   1147 non-null   object
 2   LicenceNumber              1147 non-null   int64
 3   UWI                        1147 non-null   object
 4   CurrentOperator            1147 non-null   object
 5   CurrentOperatorParent      1147 non-null   int64
 6   CurrentOperatorParentName  1147 non-null   object
 7   Licensee                   1147 non-null   object
 8   LicenseeParentCompany      1147 non-null   int64
 9   LicenseeParentCompanyName  1147 non-null   object
 10  LicenceDate                1147 non-null   datetime64[ns]
 11  CurrentStatus              1147 non-null   object
 12  CurrentStatusStandardised  1147 non-null   object
 13  WellType                   1147 non-null   object
 14  WellTypeStandardised       1147 non-null   object
 15  ConfidentialReleaseDate    114 non-null    datetime64[ns]
 16  AbandonDate                0 non-null      datetime64[ns]
 17  SurfAbandonDate            0 non-null      datetime64[ns]
 18  WellName                   1147 non-null   object
 19  Formation                  1147 non-null   object
 20  Field                      1147 non-null   object
 21  Pool                       1147 non-null   object
 22  SurveySystem               1147 non-null   object
 23  Surf_Location              1147 non-null   object
 24  Surf_Township              1147 non-null   int64
 25  Surf_Meridian              1147 non-null   object
 26  Surf_Range                 1147 non-null   int64
 27  Surf_Section               1147 non-null   int64
 28  Surf_LSD                   1147 non-null   int64
 29  Surf_Longitude             1147 non-null   float64
 30  Surf_Latitude              1147 non-null   float64
 31  Surf_TownshipRange         1147 non-null   object
 32  Surf_QuarterUnit           1147 non-null   object
 33  Surf_Unit                  1147 non-null   object
 34  Surf_Block                 1147 non-null   object
 35  Surf_NTSMapSheet           1147 non-null   object
 36  Surf_Series                1147 non-null   object
 37  Surf_Area                  1147 non-null   object
 38  Surf_Sheet                 1147 non-null   object
 39  Surf_QuarterSection        1147 non-null   object
 40  BH_Location                1147 non-null   object
 41  BH_TownshipRange           1147 non-null   object
 42  BH_QuarterUnit             1147 non-null   object
 43  BH_Unit                    1147 non-null   object
 44  BH_Block                   1147 non-null   object
 45  BH_NTSMapSheet             1147 non-null   object
 46  BH_Series                  1147 non-null   object
 47  BH_Area                    1147 non-null   object
 48  BH_Sheet                   1147 non-null   object
 49  BH_QuarterSection          1147 non-null   object
 50  BH_Longitude               1147 non-null   float64
 51  BH_Latitude                1147 non-null   float64
 52  BH_Township                1147 non-null   int64
 53  BH_Meridian                1147 non-null   object
 54  BH_Range                   1147 non-null   int64
 55  BH_Section                 1147 non-null   int64
 56  BH_LSD                     1147 non-null   int64
 57  GroundElevation            1147 non-null   float64
 58  KBElevation                1147 non-null   float64
 59  TotalDepth                 1147 non-null   float64
 60  LaheeClass                 1147 non-null   object
 61  Confidential               1147 non-null   object
 62  SurfaceOwner               1147 non-null   object
 63  OSArea                     1147 non-null   object
 64  OSDeposit                  1147 non-null   object
 65  DrillingContractor         1147 non-null   object
 66  SpudDate                   1147 non-null   datetime64[ns]
 67  FinalDrillDate             1147 non-null   datetime64[ns]
 68  RigReleaseDate             1147 non-null   datetime64[ns]
 69  DaysDrilling               1147 non-null   float64
 70  DrillMetresPerDay          1147 non-null   float64
 71  TVD                        1147 non-null   float64
 72  WellProfile                1147 non-null   object
 73  Country                    1147 non-null   object
 74  RegulatoryAgency           1147 non-null   object
 75  PSACAreaCode               1147 non-null   object
 76  PSACAreaName               1147 non-null   object
 77  ProjectedDepth             1065 non-null   float64
 78  StatusDate                 1147 non-null   datetime64[ns]
 79  StatusSource               1147 non-null   object
 80  UnitID                     257 non-null    object
 81  UnitName                   257 non-null    object
 82  UnitFlag                   1147 non-null   object
 83  Municipality               0 non-null      float64
 84  CompletionDate             0 non-null      datetime64[ns]
 85  Agent                      1147 non-null   object
dtypes: datetime64[ns](9), float64(12), int64(12), object(53)
memory usage: 770.8+ KB

In [4]:
display(well_production.info())

print('\n')

perf_treatment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99337 entries, 0 to 99336
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        99337 non-null  int64
 1   EPAssetsId        99337 non-null  int64
 2   ProdPeriod        99337 non-null  datetime64[ns]
 3   ProdType          99337 non-null  object
 4   Volume            99337 non-null  float64
 5   WellHeader.Match  99337 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 4.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44478 entries, 0 to 44477
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         44478 non-null  int64
 1   EPAssetsId         44478 non-null  int64
 2   EPAPTId            44478 non-null  int64
 3   ObservationNumber  44478 non-null  float64
 4   ActivityDate       44478 non-null  datetime64[ns]
 5   ActivityType       44478 non-null  object
 6   IntervalTop        44478 non-null  float64
 7   IntervalBase       44478 non-null  float64
 8   PerfShots          44478 non-null  float64
 9   WellHeader.Match   44478 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 3.4+ MB

In [5]:
well_header.head(2)

,EPAssetsId,Province,LicenceNumber,UWI,CurrentOperator,CurrentOperatorParent,CurrentOperatorParentName,Licensee,LicenseeParentCompany,LicenseeParentCompanyName,...,PSACAreaName,ProjectedDepth,StatusDate,StatusSource,UnitID,UnitName,UnitFlag,Municipality,CompletionDate,Agent
0,2616530,Alberta,491487,103010905422W500,Peyto Exploration & Development Corp.,519,Peyto Exploration & Development Corp.,Peyto Exploration & Development Corp.,519,Peyto Exploration & Development Corp.,...,Foothills Front,3900.0,2020-01-02,AER,NaN,NaN,No,NaN,NaT,Unspecified
1,2619843,Alberta,493861,100080805422W500,Peyto Exploration & Development Corp.,519,Peyto Exploration & Development Corp.,Peyto Exploration & Development Corp.,519,Peyto Exploration & Development Corp.,...,Foothills Front,4125.0,2019-09-05,AER,NaN,NaN,No,NaN,NaT,Unspecified

In [6]:
##check which columns are object datatypes 

well_header.columns[well_header.dtypes == 'object']

Index(['Province', 'UWI', 'CurrentOperator', 'CurrentOperatorParentName',
       'Licensee', 'LicenseeParentCompanyName', 'CurrentStatus',
       'CurrentStatusStandardised', 'WellType', 'WellTypeStandardised',
       'WellName', 'Formation', 'Field', 'Pool', 'SurveySystem',
       'Surf_Location', 'Surf_Meridian', 'Surf_TownshipRange',
       'Surf_QuarterUnit', 'Surf_Unit', 'Surf_Block', 'Surf_NTSMapSheet',
       'Surf_Series', 'Surf_Area', 'Surf_Sheet', 'Surf_QuarterSection',
       'BH_Location', 'BH_TownshipRange', 'BH_QuarterUnit', 'BH_Unit',
       'BH_Block', 'BH_NTSMapSheet', 'BH_Series', 'BH_Area', 'BH_Sheet',
       'BH_QuarterSection', 'BH_Meridian', 'LaheeClass', 'Confidential',
       'SurfaceOwner', 'OSArea', 'OSDeposit', 'DrillingContractor',
       'WellProfile', 'Country', 'RegulatoryAgency', 'PSACAreaCode',
       'PSACAreaName', 'StatusSource', 'UnitID', 'UnitName', 'UnitFlag',
       'Agent'],
      dtype='object')

In [7]:
## Select objects to convert to category type 
obj_cast_category = ['Province', 'CurrentOperator', 'CurrentOperatorParentName',
       'Licensee', 'LicenseeParentCompanyName', 'CurrentStatus',
       'CurrentStatusStandardised', 'WellType', 'WellTypeStandardised',
       'Formation', 'Field', 'Pool', 'SurveySystem',
       'Surf_Meridian', 'Surf_TownshipRange',
       'Surf_QuarterUnit', 'Surf_Unit', 'Surf_Block', 'Surf_NTSMapSheet',
       'Surf_Series', 'Surf_Area', 'Surf_Sheet', 'Surf_QuarterSection',
       'BH_Location', 'BH_TownshipRange', 'BH_QuarterUnit', 'BH_Unit',
       'BH_Block', 'BH_NTSMapSheet', 'BH_Series', 'BH_Area', 'BH_Sheet',
       'BH_QuarterSection', 'BH_Meridian', 'LaheeClass', 'Confidential',
       'SurfaceOwner', 'OSArea', 'OSDeposit', 'DrillingContractor',
       'WellProfile', 'Country', 'RegulatoryAgency', 'PSACAreaCode',
       'PSACAreaName', 'StatusSource', 'UnitID', 'UnitName', 'UnitFlag',
       'Agent']


well_header[obj_cast_category] = well_header[obj_cast_category].astype('category')

well_header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1147 entries, 0 to 1146
Data columns (total 86 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EPAssetsId                 1147 non-null   int64
 1   Province                   1147 non-null   category
 2   LicenceNumber              1147 non-null   int64
 3   UWI                        1147 non-null   object
 4   CurrentOperator            1147 non-null   category
 5   CurrentOperatorParent      1147 non-null   int64
 6   CurrentOperatorParentName  1147 non-null   category
 7   Licensee                   1147 non-null   category
 8   LicenseeParentCompany      1147 non-null   int64
 9   LicenseeParentCompanyName  1147 non-null   category
 10  LicenceDate                1147 non-null   datetime64[ns]
 11  CurrentStatus              1147 non-null   category
 12  CurrentStatusStandardised  1147 non-null   category
 13  WellType                   1147 non-null   category
 14  WellTypeStandardised       1147 non-null   category
 15  ConfidentialReleaseDate    114 non-null    datetime64[ns]
 16  AbandonDate                0 non-null      datetime64[ns]
 17  SurfAbandonDate            0 non-null      datetime64[ns]
 18  WellName                   1147 non-null   object
 19  Formation                  1147 non-null   category
 20  Field                      1147 non-null   category
 21  Pool                       1147 non-null   category
 22  SurveySystem               1147 non-null   category
 23  Surf_Location              1147 non-null   object
 24  Surf_Township              1147 non-null   int64
 25  Surf_Meridian              1147 non-null   category
 26  Surf_Range                 1147 non-null   int64
 27  Surf_Section               1147 non-null   int64
 28  Surf_LSD                   1147 non-null   int64
 29  Surf_Longitude             1147 non-null   float64
 30  Surf_Latitude              1147 non-null   float64
 31  Surf_TownshipRange         1147 non-null   category
 32  Surf_QuarterUnit           1147 non-null   category
 33  Surf_Unit                  1147 non-null   category
 34  Surf_Block                 1147 non-null   category
 35  Surf_NTSMapSheet           1147 non-null   category
 36  Surf_Series                1147 non-null   category
 37  Surf_Area                  1147 non-null   category
 38  Surf_Sheet                 1147 non-null   category
 39  Surf_QuarterSection        1147 non-null   category
 40  BH_Location                1147 non-null   category
 41  BH_TownshipRange           1147 non-null   category
 42  BH_QuarterUnit             1147 non-null   category
 43  BH_Unit                    1147 non-null   category
 44  BH_Block                   1147 non-null   category
 45  BH_NTSMapSheet             1147 non-null   category
 46  BH_Series                  1147 non-null   category
 47  BH_Area                    1147 non-null   category
 48  BH_Sheet                   1147 non-null   category
 49  BH_QuarterSection          1147 non-null   category
 50  BH_Longitude               1147 non-null   float64
 51  BH_Latitude                1147 non-null   float64
 52  BH_Township                1147 non-null   int64
 53  BH_Meridian                1147 non-null   category
 54  BH_Range                   1147 non-null   int64
 55  BH_Section                 1147 non-null   int64
 56  BH_LSD                     1147 non-null   int64
 57  GroundElevation            1147 non-null   float64
 58  KBElevation                1147 non-null   float64
 59  TotalDepth                 1147 non-null   float64
 60  LaheeClass                 1147 non-null   category
 61  Confidential               1147 non-null   category
 62  SurfaceOwner               1147 non-null   category
 63  OSArea                     1147 non-null   category
 64  OSDeposit                  1147 non-null   category
 65  DrillingContractor         1147 non-null   category
 66  SpudDate                   1147 non-null   datetime64[ns]
 67  FinalDrillDate             1147 non-null   datetime64[ns]
 68  RigReleaseDate             1147 non-null   datetime64[ns]
 69  DaysDrilling               1147 non-null   float64
 70  DrillMetresPerDay          1147 non-null   float64
 71  TVD                        1147 non-null   float64
 72  WellProfile                1147 non-null   category
 73  Country                    1147 non-null   category
 74  RegulatoryAgency           1147 non-null   category
 75  PSACAreaCode               1147 non-null   category
 76  PSACAreaName               1147 non-null   category
 77  ProjectedDepth             1065 non-null   float64
 78  StatusDate                 1147 non-null   datetime64[ns]
 79  StatusSource               1147 non-null   category
 80  UnitID                     257 non-null    category
 81  UnitName                   257 non-null    category
 82  UnitFlag                   1147 non-null   category
 83  Municipality               0 non-null      float64
 84  CompletionDate             0 non-null      datetime64[ns]
 85  Agent                      1147 non-null   category
dtypes: category(50), datetime64[ns](9), float64(12), int64(12), object(3)
memory usage: 462.7+ KB

In [8]:
# change ProdType and ActivityType columns from object to category datatype
well_production['ProdType'] = well_production['ProdType'].astype('category')
perf_treatment['ActivityType'] = perf_treatment['ActivityType'].astype('category')

## Seewtviz Magic

In [9]:
 wh= sv.analyze(well_header)

:FEATURES DONE:                    |█████████████████████| [100%]   00:10  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!

In [10]:
wh.show_html('wells.html')

Report wells.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [11]:
well_production=well_production.iloc[:,1:5]

In [12]:
well_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99337 entries, 0 to 99336
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EPAssetsId  99337 non-null  int64
 1   ProdPeriod  99337 non-null  datetime64[ns]
 2   ProdType    99337 non-null  category
 3   Volume      99337 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 2.4 MB

In [13]:
 wp= sv.analyze(well_production)

:FEATURES DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

Creating Associations graph... DONE!

In [14]:
wp.show_html('wells_production.html')

Report wells_production.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [15]:
perf_treatment=perf_treatment.iloc[:,1:9]

In [16]:
perf_treatment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44478 entries, 0 to 44477
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EPAssetsId         44478 non-null  int64
 1   EPAPTId            44478 non-null  int64
 2   ObservationNumber  44478 non-null  float64
 3   ActivityDate       44478 non-null  datetime64[ns]
 4   ActivityType       44478 non-null  category
 5   IntervalTop        44478 non-null  float64
 6   IntervalBase       44478 non-null  float64
 7   PerfShots          44478 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(4), int64(2)
memory usage: 2.4 MB

In [17]:
pt=sv.analyze(perf_treatment)

:FEATURES DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [18]:
pt.show_html('perf_treatment.html')

Report perf_treatment.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [19]:
##create list of columns to be dropped

dropcols_wellheader= ['CompletionDate','UnitID', 'UnitFlag', 'UnitName', 'Confidential', 'RegulatoryAgency', 'ConfidentialReleaseDate', 'AbandonDate', 'SurfAbandonDate', 'SurveySystem', 'OSArea', 'OSDeposit', 'Municipality', 'Agent']

print('well columns to drop as follows:' + ' ')
print(dropcols_wellheader)

well columns to drop as follows:
['CompletionDate', 'UnitID', 'UnitFlag', 'UnitName', 'Confidential', 'RegulatoryAgency', 'ConfidentialReleaseDate', 'AbandonDate', 'SurfAbandonDate', 'SurveySystem', 'OSArea', 'OSDeposit', 'Municipality', 'Agent']

In [20]:
## drop columns selected
well_header_df = well_header.drop(columns=dropcols_wellheader, axis=1, inplace=False)

## Check number of rows and columns
well_header_df.shape

(1147, 72)

## Merging wellheader, production and perf_treatment dataframes

In [21]:
df=pd.merge(well_header_df, well_production, on='EPAssetsId', how='left')

In [22]:
df2 = pd.merge(df,perf_treatment, on ='EPAssetsId',how ='left')

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3418491 entries, 0 to 3418490
Data columns (total 82 columns):
 #   Column                     Dtype
---  ------                     -----
 0   EPAssetsId                 int64
 1   Province                   category
 2   LicenceNumber              int64
 3   UWI                        object
 4   CurrentOperator            category
 5   CurrentOperatorParent      int64
 6   CurrentOperatorParentName  category
 7   Licensee                   category
 8   LicenseeParentCompany      int64
 9   LicenseeParentCompanyName  category
 10  LicenceDate                datetime64[ns]
 11  CurrentStatus              category
 12  CurrentStatusStandardised  category
 13  WellType                   category
 14  WellTypeStandardised       category
 15  WellName                   object
 16  Formation                  category
 17  Field                      category
 18  Pool                       category
 19  Surf_Location              object
 20  Surf_Township              int64
 21  Surf_Meridian              category
 22  Surf_Range                 int64
 23  Surf_Section               int64
 24  Surf_LSD                   int64
 25  Surf_Longitude             float64
 26  Surf_Latitude              float64
 27  Surf_TownshipRange         category
 28  Surf_QuarterUnit           category
 29  Surf_Unit                  category
 30  Surf_Block                 category
 31  Surf_NTSMapSheet           category
 32  Surf_Series                category
 33  Surf_Area                  category
 34  Surf_Sheet                 category
 35  Surf_QuarterSection        category
 36  BH_Location                category
 37  BH_TownshipRange           category
 38  BH_QuarterUnit             category
 39  BH_Unit                    category
 40  BH_Block                   category
 41  BH_NTSMapSheet             category
 42  BH_Series                  category
 43  BH_Area                    category
 44  BH_Sheet                   category
 45  BH_QuarterSection          category
 46  BH_Longitude               float64
 47  BH_Latitude                float64
 48  BH_Township                int64
 49  BH_Meridian                category
 50  BH_Range                   int64
 51  BH_Section                 int64
 52  BH_LSD                     int64
 53  GroundElevation            float64
 54  KBElevation                float64
 55  TotalDepth                 float64
 56  LaheeClass                 category
 57  SurfaceOwner               category
 58  DrillingContractor         category
 59  SpudDate                   datetime64[ns]
 60  FinalDrillDate             datetime64[ns]
 61  RigReleaseDate             datetime64[ns]
 62  DaysDrilling               float64
 63  DrillMetresPerDay          float64
 64  TVD                        float64
 65  WellProfile                category
 66  Country                    category
 67  PSACAreaCode               category
 68  PSACAreaName               category
 69  ProjectedDepth             float64
 70  StatusDate                 datetime64[ns]
 71  StatusSource               category
 72  ProdPeriod                 datetime64[ns]
 73  ProdType                   category
 74  Volume                     float64
 75  EPAPTId                    float64
 76  ObservationNumber          float64
 77  ActivityDate               datetime64[ns]
 78  ActivityType               category
 79  IntervalTop                float64
 80  IntervalBase               float64
 81  PerfShots                  float64
dtypes: category(43), datetime64[ns](7), float64(17), int64(12), object(3)
memory usage: 1.2+ GB

## Create pivot table for production data

In [24]:
wellproduction_pivot = well_production.pivot_table(index=['EPAssetsId', 'ProdPeriod'], columns='ProdType', values='Volume', fill_value=0, observed=True)

wellproduction_pivot.head()

ProdType               Condensate Production (Bbls)  \
EPAssetsId ProdPeriod
2225574    2015-03-31                           0.0
           2015-04-30                           0.0
           2015-05-31                           0.0
           2015-06-30                           0.0
           2015-07-31                           0.0

ProdType               Gas Production (MMcf)         \
EPAssetsId ProdPeriod
2225574    2015-03-31                      6.222468
           2015-04-30                      5.615053
           2015-05-31                      7.892858
           2015-06-30                      5.717466
           2015-07-31                      3.107702

ProdType               Oil Production (Bbls)         \
EPAssetsId ProdPeriod
2225574    2015-03-31                    5027.43714
           2015-04-30                    3049.92402
           2015-05-31                    5304.18834
           2015-06-30                    4863.90234
           2015-07-31                    3936.15684

ProdType               Production Hours              \
EPAssetsId ProdPeriod
2225574    2015-03-31                           150
           2015-04-30                           467
           2015-05-31                           740
           2015-06-30                           408
           2015-07-31                           314

ProdType               Water Production (Bbls)
EPAssetsId ProdPeriod
2225574    2015-03-31                       0.00000
           2015-04-30                       0.00000
           2015-05-31                    7938.98556
           2015-06-30                   10258.66380
           2015-07-31                   11344.28328

In [25]:
wp_pivot=sv.analyze(wellproduction_pivot)

:FEATURES DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [26]:
wp_pivot.show_html('wellproduction_pivot.html')

Report wellproduction_pivot.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

## Groupby

In [27]:
well_production.head()

   EPAssetsId ProdPeriod          ProdType  Volume
0     2588946 2019-12-31  Production Hours   744.0
1     2608797 2019-12-31  Production Hours   744.0
2     2617557 2019-12-31  Production Hours   744.0
3     2588149 2019-12-31  Production Hours   744.0
4     2583451 2019-12-31  Production Hours   744.0

In [28]:
wp1=well_production.groupby(['EPAssetsId','ProdType']).sum()

In [29]:
wp2=wp1.reset_index()

In [30]:
well_prod_final=wp2.pivot(index='EPAssetsId', columns='ProdType', values='Volume')

In [31]:
wpf=sv.analyze(well_prod_final)

:FEATURES DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [32]:
wpf.show_html('production.html')

Report production.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.