In [1]:
import pandas as pd
import sweetviz as sv

In [2]:
data = pd.read_csv("../../../data/WellHeader_Datathon.csv")

/Users/alejocoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (24,26,27,28,52,54,55,56,80,81) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
## create two separate lists of columns to be dropped
dropcodes_1= ["UWI","SurfaceOwner", "OSArea", "OSDeposit", "Confidential", "Country", "RegulatoryAgency", "Municipality",  "Agent", "BH_TownshipRange", "BH_QuarterUnit", "BH_Unit", "BH_Block", "BH_NTSMapSheet", "BH_Series", "BH_Sheet", "BH_Township", "BH_Meridian", "BH_Section", "BH_Area"]

dropcodes_2 = ["CurrentOperatorParent", "CurrentOperatorParentName", "LicenseeParentCompany", "LicenseeParentCompanyName", "WellTypeStandardised", "SurveySystem"]

dropcodes_3 = ['CompletionDate','_Completed`Flag', '_Perf`Flag', 'Match', 'UnitID', 'UnitFlag', 'UnitName','StatusSource']

dropcodes_4=['LicenceDate', 'ConfidentialReleaseDate','AbandonDate', 'SurfAbandonDate', 'SpudDate', 'FinalDrillDate', 'RigReleaseDate','StatusDate','CompletionDate']

dropcodes_5=['Province','LicenceNumber','CurrentOperator','Licensee','CurrentStatusStandardised','WellName']
c_transform= ['Surf_Location','Surf_TownshipRange','BH_Location','Surf_LSD','BH_QuarterSection','BH_Longitude','BH_Latitude','BH_LSD']
##remove the columns based on lists above, and create new dataframe
well_header = data.drop(columns=(dropcodes_1 + dropcodes_2 + dropcodes_3 + dropcodes_4 + dropcodes_5+c_transform), axis=1, inplace=False)

In [4]:
#FInal Columns
well_header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EPAssetsId           10437 non-null  int64
 1   CurrentStatus        10437 non-null  object
 2   WellType             10437 non-null  object
 3   Formation            10437 non-null  object
 4   Field                10437 non-null  object
 5   Pool                 10437 non-null  object
 6   Surf_Township        10437 non-null  object
 7   Surf_Meridian        10437 non-null  object
 8   Surf_Range           10437 non-null  object
 9   Surf_Section         10437 non-null  object
 10  Surf_Longitude       10437 non-null  float64
 11  Surf_Latitude        10437 non-null  float64
 12  Surf_QuarterUnit     10437 non-null  object
 13  Surf_Unit            10437 non-null  object
 14  Surf_Block           10437 non-null  object
 15  Surf_NTSMapSheet     10437 non-null  object
 16  Surf_Series          10437 non-null  object
 17  Surf_Area            10437 non-null  object
 18  Surf_Sheet           10437 non-null  object
 19  Surf_QuarterSection  10437 non-null  object
 20  BH_Range             10437 non-null  object
 21  GroundElevation      10429 non-null  float64
 22  KBElevation          10437 non-null  float64
 23  TotalDepth           10437 non-null  float64
 24  LaheeClass           10437 non-null  object
 25  DrillingContractor   10405 non-null  object
 26  DaysDrilling         10431 non-null  float64
 27  DrillMetresPerDay    10437 non-null  float64
 28  TVD                  6731 non-null   float64
 29  WellProfile          10437 non-null  object
 30  PSACAreaCode         10437 non-null  object
 31  PSACAreaName         10437 non-null  object
 32  ProjectedDepth       10045 non-null  float64
dtypes: float64(9), int64(1), object(23)
memory usage: 2.6+ MB

In [7]:
list(well_header.columns)

['EPAssetsId',
 'CurrentStatus',
 'WellType',
 'Formation',
 'Field',
 'Pool',
 'Surf_Township',
 'Surf_Meridian',
 'Surf_Range',
 'Surf_Section',
 'Surf_Longitude',
 'Surf_Latitude',
 'Surf_QuarterUnit',
 'Surf_Unit',
 'Surf_Block',
 'Surf_NTSMapSheet',
 'Surf_Series',
 'Surf_Area',
 'Surf_Sheet',
 'Surf_QuarterSection',
 'BH_Range',
 'GroundElevation',
 'KBElevation',
 'TotalDepth',
 'LaheeClass',
 'DrillingContractor',
 'DaysDrilling',
 'DrillMetresPerDay',
 'TVD',
 'WellProfile',
 'PSACAreaCode',
 'PSACAreaName',
 'ProjectedDepth']

In [19]:
#Convert to datatype 
well_header['Surf_Range'] = well_header['Surf_Range'].astype(str)
well_header['Surf_Township'] = well_header['Surf_Township'].astype(str)
well_header['Surf_Section'] = well_header['Surf_Section'].astype(str)
well_header['BH_Range'] = pd.to_numeric(well_header['BH_Range'], errors='coerce')

In [20]:
#df=sv.analyze(well_header)

In [21]:
#df.show_html('well_header.html')

In [22]:
wh =well_header[~well_header.TVD.isna()]

In [23]:
wh.to_csv('well_header0.csv',index=False)

In [24]:
test_data = pd.read_csv("../../../data/Submission_Sample.csv")

In [25]:
test = well_header[well_header['EPAssetsId'].isin(test_data['EPAssetsId'])].drop(columns='TVD')

In [26]:
test = pd.merge(test,test_data, on='EPAssetsId')

In [29]:
test.to_csv('test0.csv',index=False)