In [2]:
import pandas as pd
import sweetviz as sv

In [3]:
data = pd.read_csv("../../../data/WellHeader_Datathon.csv")

/Users/alejocoy/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (24,26,27,28,52,54,55,56,80,81) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
## create two separate lists of columns to be dropped
dropcodes_1= ["UWI","SurfaceOwner", "OSArea", "OSDeposit", "Confidential", "Country", "RegulatoryAgency", "Municipality",  "Agent", "BH_TownshipRange", "BH_QuarterUnit", "BH_Unit", "BH_Block", "BH_NTSMapSheet", "BH_Series", "BH_Sheet", "BH_Township", "BH_Meridian", "BH_Section", "BH_Area"]

dropcodes_2 = ["CurrentOperatorParent", "CurrentOperatorParentName", "LicenseeParentCompany", "LicenseeParentCompanyName", "WellTypeStandardised", "SurveySystem"]

dropcodes_3 = ['CompletionDate','_Completed`Flag', '_Perf`Flag', 'Match', 'UnitID', 'UnitFlag', 'UnitName','StatusSource']

dropcodes_4=['LicenceDate', 'ConfidentialReleaseDate','AbandonDate', 'SurfAbandonDate', 'SpudDate', 'FinalDrillDate', 'RigReleaseDate','StatusDate','CompletionDate']

dropcodes_5=['Province','LicenceNumber','CurrentOperator','Licensee','CurrentStatusStandardised','WellName']
##remove the columns based on lists above, and create new dataframe
well_header = data.drop(columns=(dropcodes_1 + dropcodes_2 + dropcodes_3 + dropcodes_4 + dropcodes_5), axis=1, inplace=False)

In [5]:
#FInal Columns
well_header.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EPAssetsId           10437 non-null  int64
 1   CurrentStatus        10437 non-null  object
 2   WellType             10437 non-null  object
 3   Formation            10437 non-null  object
 4   Field                10437 non-null  object
 5   Pool                 10437 non-null  object
 6   Surf_Location        10437 non-null  object
 7   Surf_Township        10437 non-null  object
 8   Surf_Meridian        10437 non-null  object
 9   Surf_Range           10437 non-null  object
 10  Surf_Section         10437 non-null  object
 11  Surf_LSD             10437 non-null  object
 12  Surf_Longitude       10437 non-null  float64
 13  Surf_Latitude        10437 non-null  float64
 14  Surf_TownshipRange   10437 non-null  object
 15  Surf_QuarterUnit     10437 non-null  object
 16  Surf_Unit            10437 non-null  object
 17  Surf_Block           10437 non-null  object
 18  Surf_NTSMapSheet     10437 non-null  object
 19  Surf_Series          10437 non-null  object
 20  Surf_Area            10437 non-null  object
 21  Surf_Sheet           10437 non-null  object
 22  Surf_QuarterSection  10437 non-null  object
 23  BH_Location          10437 non-null  object
 24  BH_QuarterSection    8697 non-null   object
 25  BH_Longitude         8697 non-null   float64
 26  BH_Latitude          8697 non-null   float64
 27  BH_Range             10437 non-null  object
 28  BH_LSD               10437 non-null  object
 29  GroundElevation      10429 non-null  float64
 30  KBElevation          10437 non-null  float64
 31  TotalDepth           10437 non-null  float64
 32  LaheeClass           10437 non-null  object
 33  DrillingContractor   10405 non-null  object
 34  DaysDrilling         10431 non-null  float64
 35  DrillMetresPerDay    10437 non-null  float64
 36  TVD                  6731 non-null   float64
 37  WellProfile          10437 non-null  object
 38  PSACAreaCode         10437 non-null  object
 39  PSACAreaName         10437 non-null  object
 40  ProjectedDepth       10045 non-null  float64
dtypes: float64(11), int64(1), object(29)
memory usage: 3.3+ MB

In [6]:
#Convert to datatype 
well_header['Surf_Range'] = well_header['Surf_Range'].astype(str)
well_header['Surf_Township'] = well_header['Surf_Township'].astype(str)
well_header['Surf_Section'] = well_header['Surf_Section'].astype(str)
well_header['Surf_LSD'] = pd.to_numeric(well_header['Surf_LSD'], errors='coerce')
well_header['BH_Range'] = pd.to_numeric(well_header['BH_Range'], errors='coerce')
well_header['BH_LSD'] = pd.to_numeric(well_header['BH_LSD'], errors='coerce')

In [9]:
df=sv.analyze(well_header)

:FEATURES DONE:                    |█████████████████████| [100%]   00:08  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:04  -> (00:00 left)

Creating Associations graph... DONE!

In [34]:
df.show_html('well_header.html')

Report well_header.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [7]:
wh =well_header[~well_header.TVD.isna()]

In [8]:
wh.to_csv('well_header0.csv',index=False)

In [9]:
test = well_header[well_header.TVD.isna()]

In [10]:
test.to_csv('test0.csv',index=False)